@page "/cart"
@using Client.Components
<h3>CartComponent</h3>
<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <ItemListComponent>

            </ItemListComponent>
        </div>
        <div class="col-4">
            <SummaryComponent>

            </SummaryComponent>
        </div>
    </div>
</div>

@code {

}
