@page "/cart"
@using Client.Components


@if (checkout)
{
    <CheckOutComponent />

}
else if (Result!=null)
{
    <ResultComponent Result="@Result" />
}
else
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1 col-lg-8">
                <ItemListComponent />
            </div>
            <div class="col-sm-1 col-lg-4">
                <SummaryComponent />

                <AuthorizeView>
                    <Authorized>
                        <button type="button" class="btn btn-primary" @onclick="CheckOut">
                            Checkout
                        </button>
                    </Authorized>
                    <NotAuthorized>
                        <button type="button" class="btn btn-primary" @onclick="ProceedCheckOut">
                            Proceed to checkout
                        </button>
                    </NotAuthorized>
                </AuthorizeView>

            </div>
        </div>
    </div>
}


