@page "/menu"
@using Client.Components
@using System.Text.Json
@inject ProtectedSessionStorage ProtectedSessionStore
@inject StateContainer StateContainer
@implements IDisposable
<h1>
    menu page
</h1>
<MenuListComponent PizzaInfo="@PizzaInfo" />

@code{
    private PizzaInfo PizzaInfo { get; set; }

    protected async override Task OnInitializedAsync()
    {
        Console.WriteLine("Oninializedasync is called");
        HttpClient _client = new HttpClient();
        //var PizzaInfo = await _client.GetFromJsonAsync<PizzaInfo>("https://localhost:44355/api/pizza");
        var response = await _client.GetAsync("https://localhost:44355/api/pizza");
        var content = await response.Content.ReadAsStringAsync();
        if (!response.IsSuccessStatusCode)
        {
            throw new ApplicationException(content);
        }

        var products = JsonSerializer.Deserialize<PizzaInfo>(content, new JsonSerializerOptions { PropertyNameCaseInsensitive = true });
        PizzaInfo = products;

        //await ProtectedSessionStore.SetAsync("PizzaInfo", products);
        StateContainer.OnChange += StateHasChanged;
        ChangePizzaInfoValue();
    }

    private void ChangePizzaInfoValue()
    {
        StateContainer.SetPizzaInfo(PizzaInfo);
    }

    public void Dispose()
    {
        StateContainer.OnChange -= StateHasChanged;
    }


}
