<h3>CheckOut</h3>

@if (Result != null)
{
    <ResultComponent Result="@Result" />
}
else
{


    <EditForm Model="@StateContainer.Customer" OnValidSubmit="@CheckOut">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary></ValidationSummary>
        <div class="d-flex flex-column">
            <div class="row">
                <div class="col-md-2">
                    First Name
                </div>
                <div class="col-md-4">
                    <InputText @bind-Value="StateContainer.Customer.FirstName" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">

                    Last Name
                </div>
                <div class="col-md-4">
                    <InputText @bind-Value="StateContainer.Customer.LastName" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    Phone Numer
                </div>
                <div class="col-md-4">
                    <InputText @bind-Value="StateContainer.Customer.PhoneNumber" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">

                    Email
                </div>
                <div class="col-md-4">

                    <InputText @bind-Value="StateContainer.Customer.Email" />
                </div>
            </div>

        </div>
        <input type="submit" class="btn btn-primary" value="Checkout" />

    </EditForm>

}
