@using Client.Models

@if (PizzaInfo != null)
{

    @foreach (var type in PizzaInfo.Type)
    {
        <div class="card">
            <img class="card-img-top " src="@type.Image" alt="Card image cap" width="400" height="400">
            <div class="card-body">
                <div class="d-flex flex-column align-items-center">
                    <h5 class="card-title">@type.TypeName</h5>
                    <p class="card-text">@type.Description</p>
                </div>

            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center">
                    <a href="/menu/@type.TypeName" class="btn btn-primary">Order it now</a>
                </div>
            </div>
        </div>
    }
}
else
{
    <div>Loading...</div>
}

@code {
    [Parameter]
    public PizzaInfo PizzaInfo { get; set; }
}
