@inject StateContainer StateContainer


@if (Sides != null)
{
    @foreach (var side in @Sides)
    {
        <SideDetailComponent Side="side"/>
    }
}
else
{
    <div>Loading...</div>
}
@code {
    [Parameter]
    public List<Side> Sides { get; set; }

}
