@inject StateContainer StateContainer


@if (Sides != null)
{
    <div class="container-fluid">

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
            @foreach (var side in @Sides)
            {
                <SideDetailComponent Side="side" />
            }
        </div>
    </div>
}
else
{
    <div>Loading...</div>
}
@code {
    [Parameter]
    public List<Side> Sides { get; set; }

}
