
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Client</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="menu">
                <span class="oi oi-menu" aria-hidden="true"></span> Menu
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="sides">
                <span class="oi oi-menu" aria-hidden="true"></span> Sides
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="cart">
                <span class="oi oi-cart" aria-hidden="true"></span> Cart
                @(StateContainer.Items.Count+ StateContainer.SideItems.Count > 0 ?
                StateContainer.Items.Count + StateContainer.SideItems.Count : "")
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="track">
                <span class="oi oi-location" aria-hidden="true"></span> Track
            </NavLink>
        </li>
        <AuthorizeView>
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="history">
                        <span class="oi oi-list" aria-hidden="true"></span> Order History
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="logout">
                        <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                    </NavLink>
                </li>
            </Authorized>
            <NotAuthorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="login">
                        <span class="oi oi-account-login" aria-hidden="true"></span> Login
                    </NavLink>
                </li>
            </NotAuthorized>
        </AuthorizeView>
    </ul>
</div>

